ConsoleApplication1/ConsoleApplication1.sln
ConsoleApplication1/.vs/ConsoleApplication1/v14/.suo
ConsoleApplication1/ConsoleApplication1/bin/Debug/ConsoleApplication1.vshost.exe
ConsoleApplication1/.vs/tuto-openCalsserooms/v14/.suo
ConsoleApplication1/tuto-openCalsserooms.sln
